@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto+Slab&display=swap');


/*Toggle*/
.party-mode{
  background: linear-gradient(to bottom right, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

/*styling the body*/
body {
  margin: 0;

  background-color: #f8f8ff ;

  display: grid;
  min-height: 100vh;
}

/*button*/
.btn {
  display:grid;
  place-self:center;
}

/*svg section - display*/
.svg {
  display:grid;
  grid-template-columns: repeat(4,1fr);
}

div {
  justify-self: center;
}


/*fonts*/
h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Raleway', sans-serif;
}


/*toggle svg*/
.one {
  width: 10vh;
  height:10vh;

  background-image: url(../assets/svg/birthday-cake-solid.svg);
  background-repeat: no-repeat;

  animation: bounce 2.5s infinite;
}


.two {
  width: 10vh;
  height:10vh;

  background-image: url(../assets/svg/meteor-solid.svg);
  background-repeat: no-repeat;

  animation: rotation 2s infinite linear;
}

.three {
  width: 10vh;
  height:10vh;

  background-image: url(../assets/svg/space-shuttle-solid.svg);
  background-repeat: no-repeat;

  animation: bounce 2.5s infinite;
}

.four {
  width: 10vh;
  height:10vh;

  background-image: url(../assets/svg/user-astronaut-solid.svg);
  background-repeat: no-repeat;

  animation: rotation 4s infinite linear;
}

.five {
  width: 10vh;
  height:10vh;

  background-image: url(../assets/svg/angellist-brands.svg);
  background-repeat: no-repeat;

  animation: slidein 4s infinite;
}

.six {
  width: 10vh;
  height:10vh;

  background-image: url(../assets/svg/air-freshener-solid.svg);
  background-repeat: no-repeat;

  animation: bounce 2.5s infinite;
}

.seven {
  width: 10vh;
  height:10vh;

  background-image: url(../assets/svg/atom-solid.svg);
  background-repeat: no-repeat;

  animation: slidein 2s infinite;
}

.eight {
  width: 10vh;
  height:10vh;

  background-image: url(../assets/svg/bong-solid.svg);
  background-repeat: no-repeat;

  animation: bounce 2.5s infinite;
}

/*rotate animation*/
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*slidein animation*/
@keyframes slidein {
  from {
    margin-left: 100%;
    height:3rem;
    
  }

  to {
    margin-left: 0%;
    width:3rem;
  }
}

/*bounce animation*/
@keyframes bounce  { 
  0% { 
    transform: translateY(0); 
    }
   100% { 
     transform: translateY(-50px); 
    }
  }
